.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.header h3 {
  font-size: medium;
}

.header .remove-btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--color-primary-500);
  font-size: medium;
  font-weight: bold;
}

.form {
  display: flex;
  gap: 1rem;
}

.form > * {
  width: 50%;
}
